.nfs*

# compilation and distribution
__pycache__
models/__pycache__
utils/__pycache__


# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt
*.pyc

# editor settings
.vscode

# checkpoints
*.pt
*.ckpt


# meshes
*.ply

# data 
data
output

# lightning output
lightning_logs

dance_silhouettes-20230616T200056Z-001.zip

cub-1.10.0
