.directory
*~
.idea/
venv/
150821_dance1
../panoptic-toolbox/scripts

HTCV-Project/FrameExtractor/extracted_frames_dance
HTCV-Project/FrameExtractor/extracted_frames_dance285
HTCV-Project/FrameExtractor/extracted_frames_todler


